.cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 600px;
  }
  .cover .masking {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    opacity: 0.5;
    z-index: 0;
  }
  .cover .credit {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .cover .social a {
    color: black;
  }
  .cover img {
    width: 250px;
  }