.cover {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-right: 20px;
}
.cover .masking {
  position: absolute;
  width: 200%;
  bottom: 0;
  top: 0;
  background-color: #8492d1;
  z-index: 0;
  margin-right: 20px;
}
